#profile-header {
  position: relative;
  background-color: #e0a067;
  background-image: url('../images/header-background.png');
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
}

@media (min-width: 1024px) {
  #profile-header {
    left: 7.5%;
    width: 30%;
    float: left;
    margin-top: 150px;
  }
}

#header-avatar {
  text-align: center;
  width: 100%;
}

#header-username {
  text-align: center;
  width: 100%; 
  color: #ffffff;
}