header {
  width: 100%;
  height: 400px;
  margin-top: 90px;
  background-color: #e0a067;

}
#header-bg {
  position: absolute;
  width: 100%;
  height: 400px;
  opacity: 0.5;
}

#avatar {
  margin: 0 auto;
  position: relative;
  width: 256px;
  top: 20px;
}

#username {
  width: 200px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}