/* Style sheet for navigation bar */

nav {
  color: #FFFFFF;
  width: 100%;
  padding: 1.5em;
  height: 90px;
  z-index: 10;
  position: absolute;
  top: 0;
}

@media (min-width: 1024px) {
  nav {
    position: fixed;
    background-color: #4056A1;
  }
}

.compose-toggle {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: #cfcfcf;
}

.compose-toggle:hover {
  color: white;
}

.pointer-icon {
  font-size: 26px;
}